

/* App.css or another CSS file */
.flex-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.react-flow-container {
  flex-grow: 1; /* Takes up the remaining space */
}


/* MessageNode.css */

.message-node-card {
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden; /* Ensure content does not overflow */
}

.message-node-content {
  padding: 0;
}

.message-node-title {
  background-color: rgb(233, 91, 105);
  color: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative; /* Ensure it's above other content */
}

.message-node-message {
  display: flex;
  align-items: center;
}

.message-node-message-input {
  margin-top: 8px;
}

.uploaded-media {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.uploaded-media img,
.uploaded-media video {
  max-width: 100%;
  height: auto;
}

.uploaded-media a {
  text-decoration: none;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
